* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #44ff11;
}

.navegacao {
    background-color: #77eedd;
}

.secao {
    background-color: #66aa55;
}

.rodape {
    background-color: #3e73b1;
}